# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
